<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/jdbc
        http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="config"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:config/db.properties</value>
                <value>classpath:config/mail.properties</value>
            </list>
        </property>
    </bean>

    <context:component-scan base-package="com.stone.db.proxy">
        <context:exclude-filter type="regex" expression="com.stone.db.proxy.controller"/>
    </context:component-scan>

    <bean id="abstractDataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="${connection.driverClassName}"/>
        <property name="maxActive" value="${connection.maxActive}"/>
        <property name="maxIdle" value="${connection.maxIdle}"/>
        <property name="minIdle" value="${connection.minIdle}"/>
        <property name="maxWait" value="${connection.maxWait}"/>
        <property name="removeAbandoned" value="${connection.removeAbandoned}"/>
        <property name="removeAbandonedTimeout" value="${connection.removeAbandonedTimeout}"/>
        <property name="logAbandoned" value="${connection.logAbandoned}"/>
    </bean>
    <bean id="masterDataSource" parent="abstractDataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="username" value="${connection.master.username}"/>
        <property name="password" value="${connection.master.password}"/>
        <property name="url" value="${connection.master.url}"/>
        <property name="driverClassName" value="${connection.driverClassName}"/>
    </bean>
    <bean id="slaveDataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="username" value="${connection.slave.username}"/>
        <property name="password" value="${connection.slave.password}"/>
        <property name="url" value="${connection.slave.url}"/>
        <property name="driverClassName" value="${connection.driverClassName}"/>
    </bean>
    <bean id="slave2DataSource" parent="abstractDataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="username" value="${connection.slave2.username}"/>
        <property name="password" value="${connection.slave2.password}"/>
        <property name="url" value="${connection.slave2.url}"/>
        <property name="driverClassName" value="${connection.driverClassName}"/>
    </bean>
    <bean id="slave3DataSource" parent="abstractDataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="username" value="${connection.slave3.username}"/>
        <property name="password" value="${connection.slave3.password}"/>
        <property name="url" value="${connection.slave3.url}"/>
        <property name="driverClassName" value="${connection.driverClassName}"/>
    </bean>


    <bean id="taskDataSource" parent="abstractDataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="username" value="${connection.master.username}"/>
        <property name="password" value="${connection.master.password}"/>
        <property name="url" value="${connection.master.url}"/>
        <property name="driverClassName" value="${connection.driverClassName}"/>
    </bean>

    <jdbc:initialize-database data-source="masterDataSource">
        <jdbc:script location="classpath:database/hsqldb-schema.sql"/>
        <jdbc:script location="classpath:database/hsqldb-dataload.sql"/>
    </jdbc:initialize-database>
    <jdbc:initialize-database data-source="slaveDataSource">
        <jdbc:script location="classpath:database/hsqldb-schema.sql"/>
        <jdbc:script location="classpath:database/hsqldb-dataload.sql"/>
    </jdbc:initialize-database>
    <jdbc:initialize-database data-source="slave2DataSource">
        <jdbc:script location="classpath:database/hsqldb-schema.sql"/>
        <jdbc:script location="classpath:database/hsqldb-dataload.sql"/>
    </jdbc:initialize-database>
    <jdbc:initialize-database data-source="slave3DataSource">
        <jdbc:script location="classpath:database/hsqldb-schema.sql"/>
        <jdbc:script location="classpath:database/hsqldb-dataload.sql"/>
    </jdbc:initialize-database>

    <bean id="dataSourceProxy" class="com.stone.db.proxy.DataSourceProxy">
        <property name="master" ref="masterDataSource"/>
        <property name="slaves">
            <list>
                <ref bean="slaveDataSource"/>
                <ref bean="slave2DataSource"/>
                <ref bean="slave3DataSource"/>
            </list>
        </property>
    </bean>
    <bean id="transactionManager" class="com.stone.db.proxy.DataSourceProxyTransactionManager">
        <property name="dataSource" ref="dataSourceProxy"/>
    </bean>
    <bean id="taskTxManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="taskDataSource"/>
    </bean>
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="add*" propagation="REQUIRED" rollback-for="java.lang.Exception" isolation="REPEATABLE_READ"/>
            <tx:method name="insert*" propagation="REQUIRED" rollback-for="java.lang.Exception" isolation="REPEATABLE_READ"/>
            <tx:method name="save*" propagation="REQUIRED" rollback-for="java.lang.Exception" isolation="REPEATABLE_READ"/>
            <tx:method name="update*" propagation="REQUIRED" rollback-for="java.lang.Exception" isolation="REPEATABLE_READ"/>
            <tx:method name="delete*" propagation="REQUIRED" rollback-for="java.lang.Exception" isolation="REPEATABLE_READ"/>
            <tx:method name="del*" propagation="REQUIRED" rollback-for="java.lang.Exception" isolation="REPEATABLE_READ"/>
            <tx:method name="*" read-only="true" propagation="SUPPORTS"/>
        </tx:attributes>
    </tx:advice>
    <tx:advice id="taskTxAdvice" transaction-manager="taskTxManager">
        <tx:attributes>
            <tx:method name="*" propagation="REQUIRED" rollback-for="java.lang.Throwable"/>
        </tx:attributes>
    </tx:advice>
    <aop:config proxy-target-class="true">
        <aop:pointcut id="txServicePointcut" expression="execution(* com.stone.db.proxy.service.*.*(..))"/>
        <aop:pointcut id="txTaskPointcut" expression="execution(* com.stone.db.proxy.task.*.*(..))"/>

        <aop:advisor advice-ref="txAdvice" pointcut-ref="txServicePointcut"/>
        <aop:advisor advice-ref="taskTxAdvice" pointcut-ref="txTaskPointcut"/>
    </aop:config>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSourceProxy"/>
    </bean>

    <bean id="taskJdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="taskDataSource"/>
    </bean>

    <import resource="spring-ctx-mybatis.xml"/>

    <aop:aspectj-autoproxy proxy-target-class="true"/>
    <bean class="com.stone.db.proxy.cache.CacheManagerAspect"/>
</beans>